.lite-heading{
    padding-top: 80px;
    background-color: #335c67;
    padding-bottom: 30px;
    p{
        font-size: 14px !important;
    }
    .lite-box-img{
        @media (max-width:767px){
            display: none;
        }
    }
    .lite-p-style1{
        width: 18%;
        font-size: 12px !important;
    }
    .lite-breadcr{
        ul{
        display: flex;
        list-style: none;
        padding-left: 0px !important;
        }
        
        a{
          color: #fff;
          font-size: 12px;
        }
      }
}

.lite-detail-bg{
    background-color:#F6F1F1;
}

.lite-navi{
    position: sticky;
    top: 98px;
    background-color: #fff;
    z-index: 1;
    .lite-nav-btn{
        box-shadow: -3px 3px 0px 0px #f95738 ;
    }
}

.lite-info{
    p{
        font-size: 14px !important;
    }
    .lite-priceplan-box{
        box-shadow: -3px 3px 0px 0px #f95738 ;  
    }
    .lite-info-img{
        @media (max-width:767px){
            width: 100%;
        }
    }
}

.lite-ss{
    .lite-info-img{
        @media (max-width:767px){
            width: 100%;
            margin-right: 0px !important;
        }
    } 
    .lite-info-img1{
        @media (max-width:767px){
            // width: 100%;
            // height: 40%;
            // margin-top: 20px;
            display: none;
        }
    }
}

.lite-features{
    .lite-feature-btn{
        text-align: center !important;
    }
}

.lite-usp{
    p{
        font-size: 14px !important;
    }
    .lite-box-bgclr{
        background-color: #fff;
        box-shadow: -3px 3px 0px 0px #f95738 ;
    }
}

.lite-spec{
    p{
        font-size: 14px !important;
    }
    .lite-soft-specs{
        box-shadow: -3px 3px 0px 0px #f95738 ;
        @media(max-width: 767px){
            width: 95%;
            margin-left: 9px;
        }
        .lite-spec-mob{
            @media (max-width:767px){
                display: block !important;
            }
        }
        .lite-icon-clr{
            color: #f95738 ;
        }
    }
}

.lite-pricing{
    .lite-price-box{
        box-shadow: -3px 3px 0px 0px #f95738 ;
    }
    p{
        font-size: 14px !important;
    }
    li{
        font-size: 14px;
    }
}

.lite-review{
    p{
        font-size: 14px !important;
    }
    li{
        font-size: 14px !important;
    }
    .lite-row-mob{
        box-shadow: -3px 3px 0px 0px #f95738 ;
        @media (max-width:767px){
            width: 100%;
            margin-left: 0px;
    }
}
.lite-main-box-mob{
    box-shadow: -3px 3px 0px 0px #f95738 ;
    .lite-box-mob{
        @media(max-width: 767px){
            width: 100% !important;
        }
        .lite-box-rating{
            display: flex;
            justify-content: space-between;
            @media(max-width: 767px){
                display: block;
            }
        }
    }
    li{
        font-size: 14px;
        margin-bottom: 10px;
    }
}
}

.lite-alternative{
    .lite-card-mob{
        @media (max-width:767px){
            margin-left: 20px;
        }
    }
    .lite-card-mob-mar{
        @media (max-width:767px){
            margin-bottom: 20px;
        }
    }
        .lite-card-head{
            font-size: 26px !important;
            font-weight: 800;
        }
        .lite-card-title{
            font-size: 16px !important;
            font-weight: 600;
        }
        .lite-card-btn{
            margin-top: 40px;
            margin-left: 65px;
        }
        .lite-card-btn1{
            margin-top: 22px;
            margin-left: 65px;
        }
        .lite-p-style{
            width: 56%;
                        font-size: 12px !important;
        }
        .lite-p-style1{
            width: 110%;
                        font-size: 12px !important;
        }
}

.lite-compare{
        .lite-col-margin-mob{
            @media (max-width:767px){
                margin-bottom: 30px
            }
        }
        .lite-box{
            border: 2px solid #335c67;
            width: 100%;
            border-radius: 10px;
            // .box-p-font{
            //     // font-size: 13px;
            // }
            .lite-vs-box{
                border: 2px solid ;
                border-radius: 100%;
                background-color: #f95738 ;
                color: white;
                position: relative;
                right: 16px;
                height: 30px;
                top: 64px;
                font-size: 12px;
                line-height: 1;
            }
            .lite-vs-hr{
                width: 2px;
                height: 128px;
                background-color: black;
                text-align: center;
            }
        }
}

.lite-faq{
    .lite-faq-box{
        box-shadow: -3px 3px 0px 0px #f95738 ;
    }
    p{
        font-size: 14px !important;
    }
    li{
        font-size: 14px;
    }
}