.about-head{
    margin-top: 30px;
    .img-pad{
        padding: 0px;
    .banner-img{
        // width: 100% !important;
        height: 80vh !important;
        @media (max-width:767px){
            width: 100%;
        }
    }
  }
}
.border-mob{
    @media (max-width:767px){
        border: none !important;
    }
}
.about{
    .img-mob{
        width: 100%;
        @media (max-width:767px){
            width: 100%;
        }
    }
   
}