.banner{
    margin-top: 30px;
    .img-pad{
        padding: 0px;
    .banner-img{
        // width: 100% !important;
        height: 60vh !important;
        @media (max-width:767px){
            width: 100%;
        }
    }
}
}
.contact{
    p{
        font-size: small;
    }
}